.zoom {
	fill: transparent;
	cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
{
	path,
	line {
		stroke: black;
		fill: none;
		stroke-width: 1px;
	}
}

.y-axis g line {
	stroke: grey;
	fill: none;
	stroke-width: 1px;
	position : absolute;
}

.graph-body .line circle {
	opacity: 0.1;
}

body {
	width : 900px ; position :relative;
}
img {
	position : absolute ; top :0px ; left :0px;
}
canvas {
	position : absolute; top :40px; left: 200px; z-index: 2;
}

svg {
	position: absolute; top: 0px; left: 0px; z-index: 50;
}
