{
    "env": {
        "test": {
            "presets": ["es2015", "stage-0"],
            "plugins": [
                ["transform-require-ignore", {
                    "extensions": [".css"]
                }]
            ]
        }
    },
    "presets": [
        ["es2015", { "modules": false }],
        "stage-0"
    ]
}
