.zoom-area {
    fill: transparent;
    cursor: pointer;
}

.y-tick {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator, .x-axis {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator:last-child {
    display: none;
}

.x-axis {
    position: absolute;
    z-index: 50;
}

text {
    stroke: none;
    fill: black;
}

.graph-body .line {
    height: 20px;
    padding: 10px;
}

.svg-container{
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.event-drops-chart{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}