* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #222;
    background: #eee;
    padding: 0 3rem 1rem 3rem;
    font-family: 'Muli', 'sans serif';
}

a {
    color: #ff6e00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 1.5rem auto 1rem;
    font-family: 'Josefin Sans', Serif;
    font-weight: normal;
    font-size: 3rem;
    color: #aaa;
}

p {
    line-height: 1.5;
}

.infos {
    text-align: center;
    margin-bottom: 1rem;
}

#zoomStart,
#zoomEnd {
    display: inline-block;
    font-feature-settings: 'tnum';
    font-variant-numeric: tabular-nums;
}

#zoomStart {
    text-align: 'right';
}

#zoomEnd {
    text-align: 'left';
}

.light {
    color: #aaa;
}

.drop {
    cursor: pointer;
}

footer p {
    text-align: center;
    color: #888;
    font-size: 0.8rem;
}

.tooltip {
    position: absolute;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    width: 30rem;
    line-height: 1.4rem;
}

.tooltip::before {
    content: '';
    display: block;
    position: absolute;
    top: -0.65rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 3px solid #e7e7e7;
    border-width: 3px 0 0 3px;
    transform: rotate(45deg);
    z-index: 1;
}

.tooltip.left::before {
    left: 1.65rem;
}

.tooltip.right::before {
    right: 1.65rem;
}

.tooltip .commit {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    flex: 0 0 5rem;
}

.tooltip .content {
    flex: 1 0 0;
}

.tooltip h3 {
    font-size: 1rem;
}

.tooltip p {
    font-size: 0.9rem;
    color: #777;
}

.actions {
    text-align: right;
    margin: 1rem 0 2rem;
}

button {
    outline: none;
    color: #fff;
    background: #2196f3;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    display: inline-block;
    height: 36px;
    padding: 0 26px;
    margin: 6px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
}

button:hover {
    background: #39a1f4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
}

button:active {
    background: #176fb5;
}
