* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    color: #222;
    background: #eee;
    padding: 0 3rem 1rem 3rem;
    font-family: 'Muli', 'sans serif';
}

a {
    color: #ff6e00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 1.5rem auto 1rem;
    font-family: 'Josefin Sans', Serif;
    font-weight: normal;
    font-size: 3rem;
    color: #aaa;
}

p {
    line-height: 1.5;
}

.infos {
    text-align: center;
    margin-bottom: 1rem;
}

.drop {
    cursor: pointer;
}

footer p {
    text-align: center;
    color: #888;
    font-size: .8rem;
}
