.zoom-area {
    fill: transparent;
    cursor: pointer;
}

.y-tick {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator, .x-axis {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

.line-separator:last-child {
    display: none;
}

.x-axis {
    position: absolute;
    z-index: 50;
}

text {
    stroke: none;
    fill: black;
}

.graph-body .line {
    height: 20px;
    padding: 10px;
}
